@page
@model HolidayList.Pages.concertFitDisplayModel
@{
    ViewData["Title"] = "concertFitDisplay";
    var artist = (ConcertFitResponse.ConcertFit[])ViewData["Artist"];
}

<h1>ConcertFitDisplay</h1>

<div class="text-center">
    <hr />
    <table border="1" width="90%">
        <tr>
            <th>
                Name
            </th>
            <th>
                Event URL
            </th>
        </tr>

        @foreach (ConcertFitResponse.ConcertFit artistlist in artist)
        {
            <tr>
                <td>@artistlist.Artist</td>
                <td><a href=@artistlist.EventUrl> @artistlist.EventUrl</a></td>
            </tr>

        }
    </table>
</div>

